/* Estilos base (para móviles) */
.sectionTitle{
    text-align: center;
    width: 100%;
    background: var(--main);
    margin: 10px 0 5px 0;
    padding: 10px 0;
    color: var(--clear);
    font-size: 1.5rem;
    font-weight: 500;
}
.containerCategoriesNav{
    text-align: center;
}
.containerProducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

}
.containerProductsTitle{
    width: 100%;
    text-align: center;
    padding: 5px 0;

}
.productsTitle{
    color: var(--dark);
    font-size: 1.2rem;
}

.containerCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    min-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* flex: 0 1 calc(50% - 5px);  */
    margin: 0; /* Ajusta el margen entre las cards */
    padding: 0 5px;
}
.containerCards::-webkit-scrollbar{
    width: 6px;
    background-color: var(--clear);
  }
  .containerCards::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #a21815;
  }

.containerCategoriesNav{
    background: none;
}


@media (min-width:768px) {
    .sectionProducts{
        display: flex;
        flex-direction: column;
    }
    .sectionTitle{
        margin-bottom: 0;
    }
    .containerSectionProducts{
        display: flex;
        flex-direction: row;

    }
    .containerCategoriesNav{
        width: 250px;
        background-color: var(--dark);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--clear);
        
    }
    .containerProducts{
        width:80vw;
    
    }
    .containerCards{
        justify-content: center;
    }
    
}
